@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #000000 !important;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply antialiased bg-gray-50 text-gray-900 border-gray-200;
  }
  
  .dark body {
    @apply bg-zinc-950 text-white border-white/10;
  }
}

* {
  box-sizing: border-box;
}
